{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}
<style>
    ul{
        list-style-type: none;
    }
    li{
        padding: 5px;
    }
    .c{
        color:white;

    }
</style>
    <h1 class="head">Qualifications</h1>
    <h2 class="b">Here are my academic qualifications and certifications.</h2>
    <ul class="b">
        <li><h3 class="c">Bachelor degree in Easwari Engineering College</h3>
            Electronics and Communication Engineering (2022-2026)
            <i>CGPA: 8.16</i></li>
        <li><h3 class="c">School Education in Dr. Vimala Covent Matriculation Higher Secondary School</h3>
            <li>HSC (2021)
                <i>Percentage: 89%</i>
            </li>
            <li>SSLC (2019)
                <i></i>Percentage: 75%</i>
            </li>
        </li>

    </ul>
{% endblock %}